* {
    margin: auto;
}

.game-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}